.header 
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 239px;
}

.menu 
{
  display: flex;
  justify-content: space-around;
  gap: 50px;
  font-size: 18px;
  font-weight: 400;
  list-style-type: circle;
}

.no_marker
{
  list-style-type: none;
}

.logo
{
  width: 148px;
  height: 105px;
}

.address
{
  display: flex;
  flex-direction: column;
}