.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  justify-items: center;
  height: 293px;
  text-underline-offset: 4px;
  line-height: 24px;
}

.nav {
  justify-self: start;
  margin-left: 50px;  
}

.menu {
  display: flex;
  justify-content: space-around;
  gap: 32px;
  font-size: 18px;
  font-weight: 400;
  list-style-type: circle;
}

.logo {
  width: 129px;
  height: 105px;
}

.no_marker {
  list-style-type: none;
}

.address {
  display: flex;
  flex-direction: column;
  width: 210px;
  justify-self: end;
  margin-right: 80px;
}