.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  justify-items: center;
  height: 293px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0cap;
  text-underline-offset: 4px;
  line-height: 24px;
}

.cover {
  height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center; 
  text-transform: uppercase;
  color: white;
}

.overlay {
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover_header {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 165px 50px 56px 50px;
  font-size: 100px;
  line-height: 115px;
  align-items: center;
  letter-spacing: 30px;
}

.cover_header_left {
  align-self: start;
}

.cover_header_right {
  align-self: end;
}

.description {
  padding: 20px 50px;
  display: flex;
  flex-direction: row;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 17px;
  justify-content: space-between;
  align-items: center;
}

.button {
  border-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  padding: 11.5px 31.5px;
  color: rgb(255, 255, 255);
  background: transparent;
}

.nav {
  justify-self: start;
  margin-left: 50px;  
}

.menu {
  display: flex;
  justify-content: space-around;
  gap: 32px;

  list-style-type: circle;
}

.logo {
  width: 129px;
  height: 105px;
}

.no_marker {
  list-style-type: none;
}

.address {
  display: flex;
  flex-direction: column;
  width: 210px;
  justify-self: end;
  margin-right: 80px;
}